{% extends 'myapp/base.html' %}

{% block content-header %} 
	{% if count == 0 %}
		<br><br>
		<h1 class="centre"><b>No user found. </b></h1>
		<br>	
	{% else %}	
		<h1 class="centre"> Showing results for: {{ q }} </h1>		
	{% endif %}
{% endblock %}

<p style="display: none" id="msg"> Hello </p>

{% block content %} 

	{% ifequal count 1 %}
		<div class="row">
			<div class="col-lg-12 col-sm-6">
				<div class="well well-sm">
					<div class="row">
						<div class="col-sm-3">
							<img src="{{ user_thumbnail.jpg }}">
						</div>
						<div class="col-sm-9">
							<h3>{{ u }}</h3>
							<a class="btn btn-block btn-info" style="padding-top:18px" id="follow">Follow</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block script %}
<script>
	$("#follow").click(function(){
		console.log("follow");
		$.ajax({
		    url: "{% url 'ajax-follow' %}",  
		    type: "POST",
		    data: { 'username' : '{{ u }}',
		    		csrfmiddlewaretoken: '{{ csrf_token }}' },
		    success:function(data) {
		    	if(data.resp == 1){
		    		console.log('successfully followed')
		    		$("#msg").show();
		    	}
		    },
		    fail:function(){
		    	console.log('failure while following')
		    }
  		});
	});

</script>

{% endblock %}
