{% extends 'myapp/base.html' %}

{% block content-header %} 
<section class="content-header">
	<h1 class="centre"> YOLO </h1>
</section>		
{% endblock %}

{% block content %} 

	Show global recos -(Comment)

	{% comment %}
	{% for video in videos %}
		{% if forloop.counter0|divisibleby:3 %}
		<div class="row">
		{% endif %}
			<div class="col-md-4 col-sm-6">
				<div class="well well-sm">
					<a href="{% url 'view' videoId=video.id %}">
						<img src="{{ video.thumbnail.medium }}">
						<h4>{{ video.title }}</h4>
						<p>{{ video.desc }}</p>
					</a>
				</div>
			</div>
		{% if forloop.counter|divisibleby:3 %}
		</div> 
		{% endif %}
	{% endfor %}
	{% endcomment %}

{% endblock %}
