{% extends 'myapp/base.html' %}

{% block content-header %} 
{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-8">
			<h2 class="centre"> {{ currentvid.videoInfo.snippet.title }} </h2>
			<div class="centre"><iframe width="640" height="360" src="{{ src }}" frameborder="0" allowfullscreen></iframe></div>
			<br>
			<div class="row centre">
				<div class="col-md-4">
					<div class="small-box bg-aqua" style="margin:0">
			            <div class="inner centre">
			              <h3><i class="fa fa-tv"></i> {{ currentvid.videoInfo.statistics.viewCount }}</h3>
			            </div>
			            
			        </div>
			    </div>
			    <div class="col-md-4">
					<div class="small-box bg-maroon disabled color-palette" style="margin:0">
			            <div class="inner centre">
			              <h3><i class="fa fa-heart-o"></i> {{ currentvid.videoInfo.statistics.likeCount }}</h3>
			            </div>
			        </div>
			    </div>
			    <div class="col-md-4" style="padding-top: 10px">
	    			<!-- <div class="btn-group"> -->
		    			<a class="btn btn-app btn-flat" style="padding-top:18px" id="like">
		                	<i class="fa fa-thumbs-o-up"></i>
		              	</a>
		              	<a class="btn btn-app" style="padding-top:18px" id="dislike">
		                	<i class="fa fa-thumbs-o-down"></i>
		              	</a>
	    			<!-- </div> -->
			    </div>
			</div>
			<div class="row" style="margin-top: 20px">
		        <div class="col-md-12">
		          <div class="box box-solid">
		            <div class="box-header with-border">
		              <i class="fa fa-info-circle"></i>
		              <h3 class="box-title">Description</h3>
		            </div>
		            <!-- /.box-header -->
		            <div class="box-body">
		              <p>{{ currentvid.videoInfo.snippet.description }}</p>
		            </div>
		            <!-- /.box-body -->
		          </div>
		          <!-- /.box -->
		        </div>
		        <!-- ./col -->
			</div>

			<!-- Comments -->
			<div class="row" style="margin-top: 20px">
		        <div class="col-md-12">
		            <div class="box box-solid">
		            	<div class="box-header with-border">
		                	<i class="fa fa-comments"></i>
		              		<h3 class="box-title">Comments</h3>
		            	</div>
		            	<!-- /.box-header -->
		            	<div class="box-body">
		            		<div class="post clearfix">
			                  <form class="form-horizontal">
			                    <div class="form-group margin-bottom-none">
			                      <div class="col-sm-10">
			                        <input class="form-control input-sm" placeholder="Type a comment..." id="comment">
			                      </div>
			                      <div class="col-sm-2">
			                        <a class="btn btn-success pull-right btn-block btn-sm" id="send">Comment</a>
			                      </div>
			                    </div>
			                  </form>
			                </div>

			                {% if comment_count != 0 %}
			                {% for c in comment_list %}
			                <div class="post clearfix">
			                	<div class="row">
				                	<div class="col-md-3">
				                          <h4 style="margin:0" class="text-light-blue">{{ c.by }}</h4>			                 
			                		</div>
			                		<div class="col-md-9">
					                    <p>{{ c.comment }}</p>
					                </div>
			                	</div>
			                </div>
			                {% endfor %}
			                {% endif %}
			            </div>
		            </div>
              	</div>
            </div>

			<!-- /Comments -->
		</div>
		<div class="col-md-4 white">
			<h3 class="centre">Recommentations</h3>
			{% for video in videos %}
				<div class="row">
					<div class="col-lg-12 col-sm-6">
						<div class="well well-sm">
							<div class="row">
								<div class="col-sm-5">
									<img src="{{ video.thumbnail.default }}">
								</div>
								<div class="col-sm-7">
									<a href="{% url 'db_update' newvideoId=video.id  oldvideoId=currentvid.videoInfo.id %}">
										<p><b>{{ video.title }}</b></p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block script %}

<script>
	$("#like").click(function(){
		console.log("like");
		$.ajax({
		    url: "{% url 'ajax-like' %}",  
		    type: "POST",
		    data: { 'vid' : '{{ currentvid.videoInfo.id }}',
		    		csrfmiddlewaretoken: '{{ csrf_token }}' },
		    success:function(data) {
		    	if(data.resp == 1){
		    		$("#like").addClass('bg-green');
		    		$("#dislike").removeClass('bg-red');
		    	}
		    	else{
		    		$("#like").removeClass('bg-green');
		    		$("#dislike").removeClass('bg-red');
		    	}
		    },
		    fail:function(){
		    	console.log('fail')
		    }
  		});
	});

	$("#send").click(function(){
		console.log("in send");
		var comment = $("#comment").val();
		console.log(comment);
		$.ajax({
		    url: "{% url 'ajax-comment' %}",  
		    type: "POST",
		    data: { 'vid' : '{{ currentvid.videoInfo.id }}',
		    		'comment' : comment,
		    		csrfmiddlewaretoken: '{{ csrf_token }}' },
		    success:function(data) {
		    	if(data.resp == 1){
		    		location.reload();
		    	}
		    },
		    fail:function(){
		    	console.log('fail')
		    }
  		});
	});

	$("#dislike").click(function(){
		console.log("dislike");
		$.ajax({
		    url: "{% url 'ajax-dislike' %}",  
		    type: "POST",
		    data: { 'vid' : '{{ currentvid.videoInfo.id }}',
		    		csrfmiddlewaretoken: '{{ csrf_token }}' },
		    success:function(data) {
		    	if(data.resp == -1){
		    		$("#dislike").addClass('bg-red');
		    		$("#like").removeClass('bg-green');
		    	}
		    	else{
		    		$("#dislike").removeClass('bg-red');
		    		$("#like").removeClass('bg-green');
		    	}

		    },
		    fail:function(){
		    	console.log('fail');
		    }
  		});
	});

	$( window ).on( "load", function() {
        var like = {{ like }};
        if( like == 1 ){
        	$("#like").addClass('bg-green');
        }
        else if( like == -1 ){
        	$("#dislike").addClass('bg-red');
        }
    });

</script>

{% endblock %}