{% extends 'myapp/base.html' %}

{% block content-header %} 
{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-8">
			<h1 class="centre"> {{ currentvid.videoInfo.snippet.title }} </h1>
		</div>
		<div class="col-md-4">Recos here</div>
	</div>
	{% for video in videos %}
		<div class="row">
			<div class="col-lg-12 col-sm-6">
				<div class="well well-sm">
					<div class="row">
						<div class="col-sm-4">
							<img src="{{ video.thumbnail }}">
						</div>
						<div class="col-sm-8">
							<a href="{% url 'view' videoId=video.id %}">
								<h3>{{ video.title }}</h3>
							</a>
							<p>{{ video.desc }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
